body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.event-loop-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.callstack-container,
.microtask-container,
.macrotask-container {
  width: 200px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
textarea {
    resize: none;
}
.log-container {
    width: 200px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}